<html>
  <head>
    <title>pygmentize.me - your friendly syntax highlighting service</title>
    <!--
    <link href='http://fonts.googleapis.com/css?family=Lekton:400italic' rel='stylesheet' type='text/css' />  
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css' />
    !-->
    <link rel="stylesheet" type="text/css" href="/static/css/grids-min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/p-main.css" />
    {% block head_extra %}{% end %}
  </head>
  <body>
    <div class="p-background">&nbsp;</div>
    <div class="p-capsule">
      <div class="p-header">
        <div class="yui3-g">
          <div class="yui3-u-2-3">
            <a rel="home" href="/">
              <img class="p-logo" src="/static/img/logo.png" />
              <!--
              <span class="p-p">p</span><span class="p-y">y</span><span class="p-g">g</span><span class="p-m">m</span><span class="p-e">e</span><span class="p-n">n</span><span class="p-t">t</span><span class="p-y">i</span><span class="p-z">z</span><span class="p-e">e</span>
              <span class="p-m">m</span><span class="p-e">e</span>
              !-->
            </a>
          </div>
          <div class="yui3-u-1-3">
            <h2 class="p-slogan">your friendly syntax highlighting service</h2>
          </div>
          {% block header_extra %}{% end %}
        </div>
      </div>
      <div class="p-content">
        {% block content %}{% end %}
      </div>
      <div class="p-footer">
        {% block footer %}{% end %}
      </div>
    </div>
    {% block body_extra %}{% end %}
  </body>
</html>
